<% if Refinery.version < '0.9.9' %>
  <%= stylesheet_link_tag 'portfolio' %>
  <%= javascript_include_tag 'portfolio' %>
<% else %>
  <% content_for :javascripts, javascript_include_tag('portfolio') %>
  <% content_for :stylesheets, stylesheet_link_tag('portfolio') %>
<% end %>

<%= form_for([:admin, @portfolio_entry]) do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => f.object,
               :include_object_name => true
             } %>

  <%= render :partial => "locale_picker",
             :locals => {
               :current_locale => Thread.current[:globalize_locale]
             } if defined?(::Refinery::I18n) %>

  <div id='portfolio_body' class='field clearfix'>
    <%= f.required_label t('.title') %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :pause_time, t('.pause_time') %>
    <%= f.text_field :pause_time %>
  </div>

  <div class='field'>
    <%= f.label :anim_speed, t('.anim_speed') %>
    <%= f.text_field :anim_speed %>
  </div>

  <div class='field'>
    <%= f.label :effect, t('.effect') %>
    <ul style="list-style-type: none;">
      <%
        PortfolioEntry::EFFECT_OPTIONS.each do |effect|
          effect_description = effect[0]
          effect_name = effect[1]
      -%>
        <li>
          <%= check_box_tag 'portfolio_entry[effect_values][]',
            effect_name,
            f.object.effect_values.include?(effect_name),
            :id => "portfolio_entry_effect_values_#{effect_name}" -%>
          <%= label_tag "portfolio_entry_effect_values_#{effect_name}",
            effect_description,
            :class => 'stripped' -%>
        </li>
      <% end -%>
    </ul>
  </div>

  <% unless RefinerySetting.find_or_set(:portfolio_has_no_index, true)%>
    <div class='field'>
      <%= f.label :image -%>
      <%= render :partial => "/shared/admin/image_picker", :locals => {
        :f => f,
        :field => :title_image_id,
        :image => @portfolio_entry.title_image,
        :toggle_image_display => false
      } %>
    </div>
  <% end %>
  <div class='field clearfix'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
      <ul id='page_parts'>
        <li class='ui-state-default ui-state-active'>
          <%= link_to t('.content'), '#page_part_content'%>
        </li>
        <li class='ui-state-default'>
          <%= link_to t('.images'), '#portfolio_image_picker'%>
        </li>
      </ul>
      <div id='page_part_editors'>
        <div id='page_part_content' class='page_part'>
          <%= f.text_area :body, :class => "wymeditor widest", :rows => 7 %>
        </div>
        <div class='page_part wym_skin_refinery' id='portfolio_image_picker'>
          <div class='wym_area_top'>
            <span class='clearfix label_inline_with_link'>
              <%= link_to t('.add_another_image').html_safe,
                          insert_admin_images_url(:dialog => true,
                                                  :width => 866,
                                                  :height => 510,
                                                  :callback => "image_added"),
                          :id => "add_image_link" %>
            </span>
          </div>
          <div class='wym_box field images_field'>
            <ul id='portfolio_images' class='clearfix portfolio_entry_images'>
              <%= f.fields_for :images do |image_form| %>
                <li id='image_<%= image_form.object.id %>'>
                  <%= image_form.hidden_field :id %>
                  <%= image_fu image_form.object, '135x135#c' %>
                  <div class='textarea_wrapper_for_wym'>
                    <%
                      index = image_form.object_name.split('[').last.split(']').first.to_i
                      name_prefix = "#{f.object_name}[images_attributes][#{index}]" 
                    -%>
                    <%= text_field_tag "#{name_prefix}[title]", f.object.title_for_entry_index(index),
                      :placeholder => 'Title',
                      :class => 'image_title',
                      :size => 17 %>
                    <br/>
                    <%= text_area_tag "#{name_prefix}[link]", f.object.link_for_entry_index(index),
                      :id => "image_links_#{index}",
                      :class => 'image_link',
                      :placeholder => 'Link' %>
                  </div>
                </li>
              <% end %>
              <li class='empty'>
                <% name_prefix = "portfolio_entry[images_attributes][#{f.object.images.size}]" -%>
                <%= hidden_field_tag "#{name_prefix}[id]" %>
                <div class='textarea_wrapper_for_wym'>
                  <%= text_field_tag "#{name_prefix}[title]", nil,
                    :placeholder => 'Title',
                    :class => 'image_title',
                    :size => 17 %>
                  <br/>
                  <%= text_area_tag "#{name_prefix}[link]", "",
                    :class => 'image_link',
                    :placeholder => 'Link' %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <% if (nested_portfolios = nested_set_options(PortfolioEntry, @portfolio_entry) {|i| "#{'-' * i.level} #{i.title}" }).present? %>
    <div class='field'>
      <%= f.label t('.parent') %>
      <%= f.select :parent_id, nested_portfolios, :include_blank => true %>
    </div>
  <% end %>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true
             } -%>

<% end %>
