<%
  geometry = options.delete(:geometry)
  div_id = portfolio.friendly_id
  slides = portfolio.images_portfolio_entries.unscoped
  if portfolio.random_order?
    slides = slides.by_random
  else
    slides = slides.by_position
  end
-%>

<% content_for :scripts do -%>
<script type="text/javascript">
(function ($) {
  $(window).load(function () {
    $('#<%= div_id %>').nivoSlider(
      <%= raw options.to_json %>
    );
  });
})(jQuery);
</script>
<% end -%>

<div id="<%= div_id %>" class="nivoSlider">
  <% slides.each do |entry| -%>
    <% image = image_fu(entry.image, geometry, :alt => "", :title => entry.title) -%>
    <% if not entry.link.blank? %>
      <a href="<%= entry.link %>"><%= image %></a>
    <% else %>
      <%= image %>
    <% end -%>
  <% end -%>
</div>
